.contacts {
    padding-bottom: 96px;
    // .contacts__wrap 
    &__wrap {
        display: flex;
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }
    // .contacts-column
    &-column {
        max-width: 310px;
        // .contacts-column__image
        &__image {
            width: 300px;
            height: 181px;
            margin-bottom: 71px;
            margin-left: 12px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    // contacts__left-column
    &__left {
        &-column {
            margin: 63px 90px 0 0;
            @media(max-width: 991px) {
                margin-right: 50px;
            }
            @media(max-width: 767px) {
                display: flex;
                align-items: center;
                flex-direction: column;
                max-width: 100%;
                margin: 0 0 40px;
            }
        }
    }


    // .contacts-form
    &-form {
        max-width: 540px;
        width: 100%;
        padding: 56px;
        background-color: #fff;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        @media(max-width: 575px) {
            padding: 24px;
        }
        

        // .contacts-form__form
        &__form {
            display: flex;
            flex-direction: column;
        }

        // .contacts-form__title
        &__title {
            margin-bottom: 48px;
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            letter-spacing: 0.04em;
        }

        // .contacts-form__label
        &__label {
            margin-bottom: 8px;
            line-height: 30px;
            letter-spacing: 0.04em;
            opacity: 0.8;
        }

        // contacts-form__input
        &__input {
            margin-bottom: 32px;
            padding: 20px 41px;
            border: 1px solid rgba(#356EAD, 0.4);
            border-radius: 10px;
            line-height: 30px;
            letter-spacing: 0.04em;
            &::-moz-placeholder {
                opacity: 0.2;
            }

            &::-webkit-input-placeholder {
                opacity: 0.2;
            }

            &:-ms-input-placeholder {
                opacity: 0.2;
            }

            &::-ms-input-placeholder {
                opacity: 0.2;
            }

            &::placeholder {
                opacity: 0.2;
            }
        }
        // contacts-form__textarea
        &__textarea {
            min-height: 144px;
            margin-bottom: 72px;
            resize:none
        }

        // contact-form__btn
        &__btn {
            justify-content: center;
            padding: 23px;
            color: #fff;
            border: none;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.04em;
            cursor: pointer;
        }
    }

    // .contacts__form
    &__form {
        @media(max-width: 767px) {
            margin: 0 auto;
        }
    }
}

.column-element {
    @media(max-width: 767px) {
        text-align: center;
    }
    &:not(:last-of-type) {
        margin-bottom: 40px;
    }
    // .column-element__title 
    &__title {
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        letter-spacing: 0.04em;
    }

    // .column-element__adress
    &__adress {
        letter-spacing: 0.04em;
        opacity: 0.6;
    }
    // .column-element__phone
    &__phone {
        display: flex;
        align-items: center;
        color: $text-color;
        letter-spacing: 0.04em;
        opacity: 0.6;
        &:first-of-type {
            margin-bottom: 16px;
        }
        &:before {
            content: '';
            width: 24px;
            height: 24px;
            margin-right: 16px;
            background: url('../img/icons/phone.svg') no-repeat center;
        }
    }

    // .column-element__web
    &__web {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        color: $text-color;
        letter-spacing: 0.05em;
        opacity: 0.6;
        &:before {
            content: '';
            width: 24px;
            height: 24px;
            margin-right: 16px;
            background: url('../img/icons/language.svg') no-repeat center;
        }
    }

    // .column-element__email
    &__email {
        display: flex;
        align-items: center;
        color: $text-color;
        letter-spacing: 0.05em;
        opacity: 0.6;
        &:before {
            content: '';
            width: 24px;
            height: 24px;
            margin-right: 16px;
            background: url('../img/icons/email.svg') no-repeat center;
        }
    }
}